# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
# Ignore everything in build except build/web
/build/*
!/build/web
!/build/web/**
# Web related
web/generated_plugin_registrant.dart
# IntelliJ related
*.iml
.idea/
# VS Code related
.vscode/
# Mac related
.DS_Store
# Windows related
Thumbs.db
# Other
*.log
*.tmp
*.swp
# Android related
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
# iOS related
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
ios/Runner.xcworkspace/
ios/build/
# Xcode related
*.xcworkspace
*.xcuserstate
*.xcuserdata
# Symbolication related
*.symbols
*.crash
# Firebase
ios/GoogleService-Info.plist
android/app/google-services.json
# Env
.env
